body *{
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: #f9f9f9; */
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form textarea {
  width: 100%;
  max-width: 100%;
  max-height: 500px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: vertical;
}

form button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

form button[disabled] {
  background-color: #c9c9c9 !important;
  cursor: auto !important;
}

form button[disabled]:hover {
  background-color: #c9c9c9 !important;
}

form button:hover {
  background-color: #0056b3;
}

#results {
  margin-top: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  background: #fafafa;
}

.card h3 {
  margin: 0 0 10px;
}

.card .pos {
  font-size: 14px;
  color: #666;
}

.card .pronunciation {
  font-style: italic;
  color: #555;
  margin-bottom: 10px;
}

.download-btn {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.download-btn:hover {
  background-color: #218838;
}

.loading {
  text-align: center;
  color: #555;
  margin-top: 10px;
  font-style: italic;
  display: none;
}

.htmx-request.loading{
  display: block !important;
}

.textarea-wrapper{
  position: relative;
}

.textarea-wrapper .clear-button{
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: rgb(252, 109, 109);
}

@media screen and (max-width: 768px) {
  .container {
    max-width: auto;
    margin: auto;
  }
}